<section>
    <h1 class="item">Accommodation Reservation</h1>

    <div class="item">

        <main class="layout left med">
            <div class="col">
                <img src="/static/assets/logo.jpg" class="img-med">
            </div>

            <div class="content pad-med">
                <p>Welcome to our site</p>


                <div class="align-center">
                    <a class="action" href="/catalog">Browse Listings</a>
                    {{#if hasUser}}
                    <a class="action" href="/create">List A New Accommodation</a>
                    {{/if}}
                </div>
            </div>
        </main>

    </div>

</section>